In [ ]:
!pip install fuzzywuzzy
import pandas as pd
import numpy as np
from fuzzywuzzy import process
from fuzzywuzzy import fuzz
import hashlib #for generating hashes
import random

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.7/dist-packages (0.18.0)

In [ ]:
#importing data from a dataset
#A sample of of cryptojacking malware hashes
file_path = "/content/drive/MyDrive/csv_files/SoK/VT Dataset/VT_miners.csv"
data = pd.read_csv(file_path)

In [ ]:
#Checking data stracture
print(data.describe())

                  0
count  20199.000000
mean   10100.000000
std     5831.093379
min        1.000000
25%     5050.500000
50%    10100.000000
75%    15149.500000
max    20199.000000

In [ ]:
#checking sample data
print(data.head())

   0 b6cd59f6db5d8795b9859ad86cd555f508f52af4a030407ba5296f3790d2bc41
0  1  0f45b1e2c1a0ba10e16dd89a2c4aa5508bc487b9e297f3...
1  2  2b145c288af0d10286e2df70481d8b9caf866a4a3a6666...
2  3  7541e8b6b9d250551bdcb741e315b1a4147da1f959d4ac...
3  4  1ee7b6a350c1c994d2fc97a8758f8ac87d2601642ba844...
4  5  8e345d98cc1a9e9005dd053d745d7f6290a6e127b2d10e...

In [ ]:
#checking dataset's length
print(data.count())

0                                                                   20199
b6cd59f6db5d8795b9859ad86cd555f508f52af4a030407ba5296f3790d2bc41    20199
dtype: int64

In [ ]:
#Adding column headers to a dataset to avoid using first hash as a column header
data.columns = ['Number', 'Hash']
print(data.columns)

Index(['Number', 'Hash'], dtype='object')

In [ ]:
print(data.head())

   Number                                               Hash
0       1  0f45b1e2c1a0ba10e16dd89a2c4aa5508bc487b9e297f3...
1       2  2b145c288af0d10286e2df70481d8b9caf866a4a3a6666...
2       3  7541e8b6b9d250551bdcb741e315b1a4147da1f959d4ac...
3       4  1ee7b6a350c1c994d2fc97a8758f8ac87d2601642ba844...
4       5  8e345d98cc1a9e9005dd053d745d7f6290a6e127b2d10e...

LET'S CLEAN OUR DATA

In [ ]:
print(data.isna().sum().sum(),' are NaN values found')

0  are NaN values found

In [ ]:
#hence no NaNs found, no need of cleaning
#Let's generate another dataframe with random hashed data
column1 = [i for i in range(1,101,1)]
# Let's check the data
print(column1[0:10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Creating column2 having hashed data with Sha-2
column2 = [random.random() for i in range(1,101)]
print(column2)

[0.07249424044930675, 0.6139375803062385, 0.3916777121609466, 0.11525455108551652, 0.1428952366063151, 0.6982912535284176, 0.3122386647529677, 0.23091471326915325, 0.44291961787968814, 0.2957092057994838, 0.6549202584285415, 0.05509230437172752, 0.8843663093483238, 0.7588774256875491, 0.1196321757527048, 0.11988896990228715, 0.6735591013073262, 0.014140839672967198, 0.18090691895411237, 0.11637001259830992, 0.6247818426022285, 0.45686041767690844, 0.34433528310994765, 0.9792559618923875, 0.5407226189232799, 0.47034560473017295, 0.2539303455238988, 0.5164088838868424, 0.36030045002390143, 0.3644824193929386, 0.6675345787103372, 0.7392405537002323, 0.3572514538263566, 0.380972430271875, 0.31860915301884796, 0.5188848350415585, 0.8403125298788251, 0.02521483206024322, 0.9673351799656368, 0.42691821467427327, 0.8429543250553501, 0.6723225056798157, 0.5917245962473513, 0.24173338091670438, 0.7939369399632838, 0.7448286002903584, 0.9683802432899109, 0.4592870416654027, 0.5136928590370754, 0.9762426398763561, 0.634971449187465, 0.053274301195582185, 0.5929913539261592, 0.34406702015015544, 0.2250538985219659, 0.7919629477703533, 0.5835147622811515, 0.9779895025611031, 0.19183923663340463, 0.49819228041310193, 0.02802293958355051, 0.29640739267405614, 0.5047224775416961, 0.19560560945784133, 0.846141463837327, 0.324678929351472, 0.5862394392386937, 0.513462548648014, 0.09772803045938583, 0.8047233260830662, 0.2675954415332028, 0.0949477948763564, 0.9419489293536795, 0.21691152517125356, 0.5106905230203673, 0.10488963671855256, 0.10081058768739892, 0.09696440345921742, 0.009817457813283803, 0.22587169092150727, 0.5468461183920315, 0.02700554703129876, 0.03915206916520442, 0.7393864415799434, 0.2905123349363955, 0.7873809287031426, 0.664757394008364, 0.4865868770218488, 0.40159263204096995, 0.03930686500812375, 0.22731260951954213, 0.9709965381113786, 0.6823923704118319, 0.877680900940469, 0.11554072903915047, 0.5983509203103436, 0.8283442503636856, 0.2275105278483237, 0.6781742362017074, 0.6292218350856664]

In [ ]:
#New dictionary
dict1['Number'] = column1
dict1['Hash'] = column2
print(dict1)

{'Number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100], 'Hash': [0.07249424044930675, 0.6139375803062385, 0.3916777121609466, 0.11525455108551652, 0.1428952366063151, 0.6982912535284176, 0.3122386647529677, 0.23091471326915325, 0.44291961787968814, 0.2957092057994838, 0.6549202584285415, 0.05509230437172752, 0.8843663093483238, 0.7588774256875491, 0.1196321757527048, 0.11988896990228715, 0.6735591013073262, 0.014140839672967198, 0.18090691895411237, 0.11637001259830992, 0.6247818426022285, 0.45686041767690844, 0.34433528310994765, 0.9792559618923875, 0.5407226189232799, 0.47034560473017295, 0.2539303455238988, 0.5164088838868424, 0.36030045002390143, 0.3644824193929386, 0.6675345787103372, 0.7392405537002323, 0.3572514538263566, 0.380972430271875, 0.31860915301884796, 0.5188848350415585, 0.8403125298788251, 0.02521483206024322, 0.9673351799656368, 0.42691821467427327, 0.8429543250553501, 0.6723225056798157, 0.5917245962473513, 0.24173338091670438, 0.7939369399632838, 0.7448286002903584, 0.9683802432899109, 0.4592870416654027, 0.5136928590370754, 0.9762426398763561, 0.634971449187465, 0.053274301195582185, 0.5929913539261592, 0.34406702015015544, 0.2250538985219659, 0.7919629477703533, 0.5835147622811515, 0.9779895025611031, 0.19183923663340463, 0.49819228041310193, 0.02802293958355051, 0.29640739267405614, 0.5047224775416961, 0.19560560945784133, 0.846141463837327, 0.324678929351472, 0.5862394392386937, 0.513462548648014, 0.09772803045938583, 0.8047233260830662, 0.2675954415332028, 0.0949477948763564, 0.9419489293536795, 0.21691152517125356, 0.5106905230203673, 0.10488963671855256, 0.10081058768739892, 0.09696440345921742, 0.009817457813283803, 0.22587169092150727, 0.5468461183920315, 0.02700554703129876, 0.03915206916520442, 0.7393864415799434, 0.2905123349363955, 0.7873809287031426, 0.664757394008364, 0.4865868770218488, 0.40159263204096995, 0.03930686500812375, 0.22731260951954213, 0.9709965381113786, 0.6823923704118319, 0.877680900940469, 0.11554072903915047, 0.5983509203103436, 0.8283442503636856, 0.2275105278483237, 0.6781742362017074, 0.6292218350856664]}

In [ ]:
#Converting the dictionary set into a dataset
data2 = pd.DataFrame(dict1)
print(data2.head())

   Number      Hash
0       1  0.072494
1       2  0.613938
2       3  0.391678
3       4  0.115255
4       5  0.142895

In [ ]:
#Converting Hash from numbers to string
data2['Hash'] = data2['Hash'].astype(str)
# Apply hashing function to the Hash column
data2['Hash'] = data2['Hash'].apply(
    lambda x: 
        hashlib.sha256(x.encode()).hexdigest()
)
#check the change
print(data2.head())

   Number                                               Hash
0       1  a6856ab199dd7090d4d20e7e29bfc953563f10dbff36b5...
1       2  eb20429ce5d93d5ffc4d94599389fbfb5be4c532cf0a83...
2       3  74226d564b3c53dfe81717a031fe2280b1f468ec1d4172...
3       4  f807355e7ebdf7e4610519bb84907a2a9dc279165bc15e...
4       5  5945d1f5e5bb92a4da83f376fa15f173b10e6965442539...

Having a real hashed dataframe, let's compare the data using fuzzywuzzy a fuzzy hashing comparison method

In [ ]:
#Lests create lists to use during comparison
list1 = data['Hash'].tolist()
list2 = data2['Hash'].tolist()

#Getting data type
print(type(list1))
print(type(list2))

<class 'list'>
<class 'list'>

In [ ]:
# Setting our threshold (the percentage of comparison)
threshold = 80
#Let's reduce data to minimize compilation time
list1 = list1[0:101]
data_ = []
#Iterating through the list to find the closest matching string
for i in list2:
  data_.append(process.extract(i,list1,limit=2))
data2['Matching'] = data_
data2.head()

,Number,Hash,Matching
0,1,a6856ab199dd7090d4d20e7e29bfc953563f10dbff36b5...,[(af8f767ea624b5ab14de2bc711cbdf10f90149099475...
1,2,eb20429ce5d93d5ffc4d94599389fbfb5be4c532cf0a83...,[(2d6f18c3e3b26f95c5f080f3947e1b542ab5ea9fc40a...
2,3,74226d564b3c53dfe81717a031fe2280b1f468ec1d4172...,[(f908b8f226d68331c3177ac5113da1337492716ae12e...
3,4,f807355e7ebdf7e4610519bb84907a2a9dc279165bc15e...,[(c6e6472ea98f30e7de3dd1f18bcec6b6131e912ba12f...
4,5,5945d1f5e5bb92a4da83f376fa15f173b10e6965442539...,[(421cc9f7c043d75e25aa35cf34f73079eb78de884c05...

In [ ]:
#Iterating through the closest matches to filter out the maximum closest match
p=[]
data2_ = []
for j in data2['Matching']:
  for k in j:
    if k[1] >= threshold:
      p.append(k[0])
  data2_.append(','.join(p))
  p = []
data2['Matching'] = data2_
data2

    Number                                               Hash Matching
0        1  a6856ab199dd7090d4d20e7e29bfc953563f10dbff36b5...
1        2  eb20429ce5d93d5ffc4d94599389fbfb5be4c532cf0a83...
2        3  74226d564b3c53dfe81717a031fe2280b1f468ec1d4172...
3        4  f807355e7ebdf7e4610519bb84907a2a9dc279165bc15e...
4        5  5945d1f5e5bb92a4da83f376fa15f173b10e6965442539...
..     ...                                                ...      ...
95      96  875740c6ccd4ba07262222acfab0445059ccbb912511da...
96      97  dcdd372c528da7bd7785dacccfaee1042356b60539617d...
97      98  f5b7db207de88fb8c9d28c7c4312669c9786d0c43899bd...
98      99  5f0be2ac7c48a7d57c330afd08da0084f76c50ec876730...
99     100  60af3bf73ccbf901fc945e19fc90293ae35db5353e6792...

[100 rows x 3 columns]